@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Tajawal&display=swap");
body {
  font-family: 'Tajawal', sans-serif;
  background-color: #fff;
  font-size: 16pt;
}

body a {
  text-decoration: none;
}

body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-us > .title, .sections > .title, .screen-app > .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  font-size: 40px;
  color: #343434;
}

.about-us > .title::before, .about-us > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
  position: absolute;
  content: "";
  width: 35%;
  height: 1px;
  background-color: #d3d3d4;
  top: 48px;
  left: 70px;
}

.about-us > .title::after, .sections > .title::after, .screen-app > .title::after {
  left: initial;
  right: 70px;
}

.active {
  background-color: #5b9594 !important;
}

.header .overlay .caption .buttons .btn, .screen-app .app .buttons .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#59d6d4), to(#5b9594));
  background-image: linear-gradient(#59d6d4, #5b9594);
  color: #fff;
  font-size: 16pt;
  width: 190px;
  padding: 5px 10px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.header .overlay .caption .buttons .btn img, .screen-app .app .buttons .btn img {
  width: 20px;
  margin-right: 5px;
  margin-top: 0;
}

.header .overlay .caption .buttons .btn:hover, .screen-app .app .buttons .btn:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
}

.header .overlay .caption .buttons .android, .screen-app .app .buttons .android {
  padding-block: 6.5px;
  margin-right: 50px;
}

.header, .about-us, .features, .sections, .footer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  overflow-x: hidden;
}

.header {
  background-image: url("../images/mobelia header@2x.png");
  height: 100vh;
}

.header .navbar {
  z-index: 10000;
  padding: 35px 90px 0 45px;
  margin-bottom: 160px;
}

.header .navbar .navbar-brand {
  width: 200px;
  margin-left: 0;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-collapse .navbar-nav {
  margin-right: 80px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
}

.header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-toggle::after {
  border: none;
  content: url("../icons/Icon ionic-ios-arrow-down.svg");
}

.header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
}

.header .navbar .navbar-collapse .navbar-nav .dropdown {
  position: relative;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  position: absolute;
  right: -114px;
  min-width: 14rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  font-size: 16pt;
  color: #343434;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-item {
  text-align: center;
  font-size: 16pt;
  padding-block: 15px;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .ar {
  position: relative;
  margin-bottom: 30px;
}

.header .navbar .navbar-collapse .navbar-nav .dropdown .ar::after {
  position: absolute;
  top: 78px;
  left: 22px;
  content: "";
  background-color: #d3d3d4;
  width: 80%;
  height: 1px;
}

.header .overlay {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 90px;
}

.header .overlay .caption {
  margin-bottom: 150px;
  padding-left: 150px;
}

.header .overlay .caption .title {
  margin-bottom: 25px;
}

.header .overlay .caption .title h3 {
  font-size: 24pt;
  color: #343434;
  font-weight: bold;
}

.header .overlay .caption .text {
  font-size: 18pt;
  color: #343434;
  margin-bottom: 110px;
}

.header .overlay .caption .buttons .android {
  margin-right: 30px;
}

.header .overlay .mob {
  position: relative;
}

.header .overlay .mob img {
  position: absolute;
  left: -55px;
  bottom: -615px;
  height: 1030px;
  width: 140%;
}

.about-us {
  padding-top: 350px;
  background-image: url("../images/bg-about.png");
}

.about-us .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us .show-case .text {
  font-size: 16pt;
  margin-top: 100px;
  color: #343434;
  padding-right: 45px;
}

.about-us .show-case .text .text-1 {
  margin-bottom: 40px;
}

.about-us .show-case .image {
  width: 1000px;
}

.about-us .show-case .image img {
  position: relative;
  left: 200px;
  top: -50px;
  width: 100%;
}

.features {
  position: relative;
  background-image: url("../images/features bg mobelia@2x.png");
  height: 500px;
}

.features .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px 0 0 0;
}

.features .overlay .title {
  text-align: center;
  color: #fff;
  font-size: 22pt;
  margin-bottom: 25px;
}

.features .overlay .col-img img {
  width: 100%;
}

.features .overlay .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .overlay .feature .image {
  background: #fff;
  width: 95px;
  height: 95px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 95px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.features .overlay .feature .price, .features .overlay .feature .delivery {
  background-color: #5b9594;
}

.features .overlay .feature .content {
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.features .overlay .feature .content .title {
  font-size: 16pt;
  text-align: start;
  margin-bottom: 15px;
}

.features .overlay .feature .custom-content, .features .overlay .feature .custom-title {
  color: #343434;
}

.features .overlay .feature + .feature {
  margin-top: 25px;
}

.sections {
  padding: 500px 0 250px;
  background-image: url("../images/bg-sections.png");
}

.sections .show-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-inline: 100px;
}

.sections .show-case .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.sections .show-case .sub .title {
  color: #343434;
}

.sections .show-case .sub .text {
  color: #343434;
  font-size: 15pt;
}

.sections .show-case .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template: auto/repeat(4, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.sections .show-case .products .product .card {
  width: 300px;
  padding: 5px 5px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.sections .show-case .products .product .card img {
  width: 100%;
}

.sections .show-case .products .product .card .card-body {
  color: #343434;
  font-size: 14pt;
  text-align: center;
}

.sections .show-case .custom-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sections .show-case .custom-products .product .card {
  width: 300px;
}

.screen-app {
  background-color: #f6f6fa;
  padding-top: 100px;
  position: relative;
}

.screen-app .slider {
  padding-inline: 20px;
  position: relative;
}

.screen-app .slider .carousel-inner {
  padding: 50px 0 190px;
}

.screen-app .slider .carousel-item {
  background-color: transparent !important;
}

.screen-app .slider .carousel-item .active {
  background-color: transparent !important;
}

.screen-app .slider #wrapper {
  width: 100% !important;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen-app .slider #wrapper .slider-img {
  width: 190px;
  height: 350px;
  z-index: 2;
}

.screen-app .slider #wrapper .slider-img img {
  width: 100%;
  height: 100%;
}

.screen-app .slider #wrapper .slider-img + .slider-img {
  margin-right: 70px;
}

.screen-app .slider #wrapper .phone {
  position: relative;
}

.screen-app .slider #wrapper .phone .slider-img {
  height: 375px;
}

.screen-app .slider #wrapper .phone .cover {
  position: absolute;
  width: 730px;
  height: 657px;
  top: -60px;
  left: -323px;
}

.screen-app .slider .indecators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 250px;
  z-index: 12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen-app .slider .indecators li {
  width: 30px;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  cursor: pointer;
  -o-border-radius: 15px;
  height: 8px;
  background-color: #d3d3d4;
}

.screen-app .slider .indecators .main {
  width: 60px;
}

.screen-app .slider .indecators li + li {
  margin-right: 10px;
}

.screen-app .app {
  padding: 50px 100px;
  margin-top: 400px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-app .app .title {
  color: #5b9594;
  font-size: 18pt;
  font-weight: bold;
}

.screen-app .app .buttons .android {
  margin-right: 30px;
}

.footer {
  background-color: #000;
  background-image: url("../images/mobelia footer@2x.png");
  padding: 80px 0 200px;
}

.footer .logo {
  width: 160px;
}

.footer .logo img {
  width: 100%;
}

.footer .title {
  color: #fff;
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 35px;
  margin-top: 5px;
}

.footer .items {
  color: #59d6d4;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

.footer .items .item {
  font-size: 16pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .items .item img {
  margin-left: 10px;
}

.footer .items .item span {
  font-size: 12pt;
}

.footer .items .item .link {
  color: #59d6d4;
}

.footer .items .item:hover .link {
  color: #5b9594;
}

.footer .items .item + .item {
  margin-top: 25px;
}

.footer .items .custom-item + .custom-item {
  margin-top: 35px;
}

html[dir="ltr"] .header .navbar {
  padding: 35px 45px 0 90px;
}

html[dir="ltr"] .header .navbar .navbar-brand {
  margin-right: 0;
  margin-left: 0;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav {
  margin-left: 80px;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  right: initial;
  left: -114px;
}

html[dir="ltr"] .header .navbar .navbar-collapse .navbar-nav .dropdown .ar::after {
  right: 22px;
  left: initial;
}

html[dir="ltr"] .header .overlay {
  padding-left: 90px;
  padding-right: 0;
}

html[dir="ltr"] .header .overlay .caption {
  padding-left: 0;
  padding-right: 150px;
}

html[dir="ltr"] .header .overlay .caption .buttons .btn img {
  margin-right: 0;
  margin-left: 5px;
}

html[dir="ltr"] .header .overlay .caption .buttons .android {
  margin-right: 0;
  margin-left: 50px;
}

html[dir="ltr"] .header .overlay .mob img {
  left: initial;
  right: -50px;
}

html[dir="ltr"] .about-us .title::before, html[dir="ltr"] .about-us .title::after {
  left: initial;
  right: 70px;
}

html[dir="ltr"] .about-us .title::after {
  right: initial;
  left: 70px;
}

html[dir="ltr"] .about-us .show-case .offset-1 {
  margin-right: 0;
  margin-left: 8.33333333%;
}

html[dir="ltr"] .about-us .show-case .text {
  padding-right: 0;
  padding-left: 45px;
}

html[dir="ltr"] .about-us .show-case .image img {
  left: initial;
  right: 200px;
  top: -150px;
}

html[dir="ltr"] .features .overlay .feature .content {
  margin-right: 0;
  margin-left: 20px;
}

html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
  margin-right: 0;
  margin-left: 70px;
}

html[dir="ltr"] .screen-app .slider #wrapper .phone {
  position: relative;
}

html[dir="ltr"] .screen-app .slider #wrapper .phone .cover {
  left: initial;
  right: -217px;
}

html[dir="ltr"] .screen-app .slider .indecators li + li {
  margin-right: 0;
  margin-left: 10px;
}

html[dir="ltr"] .screen-app .app .buttons .android {
  margin-right: 0;
  margin-left: 30px;
}

html[dir="ltr"] .footer .items .item img {
  margin-left: 0;
  margin-right: 10px;
}

@media (max-width: 1399.98px) {
  .header {
    height: 106vh;
  }
  .header .navbar {
    padding: 35px 107px 0 77px;
    margin-bottom: 100px;
  }
  .header .navbar .navbar-nav .dropdown .dropdown-menu {
    right: -130px !important;
  }
  .header .overlay {
    padding-right: 110px;
  }
  .header .overlay .caption {
    padding-left: 120px;
  }
  .header .overlay .mob img {
    left: -60px;
    bottom: -550px;
    height: 950px;
  }
  .features {
    height: 460px;
  }
}

@media (max-width: 1280.98px) {
  .header .navbar {
    padding: 35px 80px 0 54px;
  }
  .header .overlay {
    padding-right: 55px;
  }
  .header .overlay .mob img {
    left: -50px;
    bottom: -550px;
    height: 945px;
  }
  .sections .show-case {
    padding-inline: 0;
  }
  .sections .show-case .products .product .card {
    width: 250px;
  }
}

@media (max-width: 1199.98px) {
  .header .navbar {
    padding: 35px 42px 0 12px;
  }
  .header .navbar .navbar-nav {
    margin-right: 45px !important;
  }
  .header .overlay {
    padding-right: 15px;
  }
  .header .overlay .caption {
    padding-left: 33px;
  }
  .header .overlay .mob img {
    left: -200px;
    bottom: -542px;
    height: 910px;
    width: 160%;
  }
  .features {
    height: 400px;
  }
  .features .overlay {
    padding: 65px 0 0 0;
  }
  .sections .title::before, .sections .title::after {
    width: 33%;
  }
  .screen-app .title::before, .screen-app .title::after {
    width: 30%;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  .header .navbar {
    padding: 35px 25px 0 45px;
    margin-bottom: 115px;
  }
  .header .navbar .navbar-brand {
    width: 150px;
  }
  .header .overlay {
    padding-right: 25px;
  }
  .header .overlay .mob img {
    left: 0px;
    bottom: -425px;
    width: 130%;
    height: 700px;
  }
  .about-us > .title, .features > .title, .sections > .title, .screen-app > .title {
    font-size: 30px !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    top: 35px !important;
  }
  .features {
    height: 425px;
  }
  .features .overlay .title {
    margin-bottom: 50px;
  }
  .sections .show-case .products .product .card {
    width: 200px;
  }
  .screen-app .slider {
    padding-right: 37px;
    padding-left: 25px;
  }
}

@media (max-width: 991.98px) {
  .header .navbar {
    padding-right: 27px;
    padding-left: 27px;
    position: relative;
  }
  .header .navbar .navbar-brand {
    position: absolute;
    right: 30%;
    top: 25px;
  }
  .header .navbar .navbar-toggler {
    color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#59d6d4), to(#5b9594));
    background-image: linear-gradient(#59d6d4, #5b9594);
    position: absolute;
    left: 35%;
    top: 50px;
  }
  .header .navbar .navbar-toggler span {
    color: #fff;
    font-size: 22pt;
    padding: 5px;
  }
  .header .navbar .navbar-nav {
    margin-right: 0 !important;
    margin-top: 100px;
    padding: 25px;
    background-color: #5b9594;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .header .navbar .navbar-nav .nav-item {
    width: 100%;
  }
  .header .navbar .navbar-nav .nav-item:hover {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .header .navbar .navbar-nav .nav-item:hover .nav-link {
    color: #5b9594;
    width: 100%;
    text-align: center;
  }
  .header .navbar .navbar-nav .dropdown .dropdown-menu {
    transform: translateX(-204%);
    -webkit-transform: translateX(-204%);
    -moz-transform: translateX(-204%);
    -ms-transform: translateX(-204%);
    -o-transform: translateX(-204%);
  }
  .header .navbar .navbar-nav .nav-item + .nav-item {
    margin-top: 25px;
  }
  .header .overlay {
    top: 200px;
    padding-right: 30px;
  }
  .header .overlay .caption .title h3 {
    font-size: 20pt;
  }
  .header .overlay .caption .text {
    font-size: 14pt;
  }
  .header .overlay .caption .buttons .btn {
    font-size: 14px;
    width: 150px;
  }
  .header .overlay .caption .buttons .android {
    margin-right: 10px;
  }
  .header .overlay .mob img {
    left: -127px;
    bottom: -430px;
    height: 700px;
    width: 140%;
  }
  .about-us > .title, .features > .title, .sections > .title, .screen-app > .title {
    font-size: 30px !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    top: 35px !important;
  }
  .about-us .show-case .text {
    font-size: 12pt;
    padding-right: 22px;
    margin-top: 117px;
  }
  .about-us .show-case .image {
    width: 700px;
  }
  .about-us .show-case .image img {
    left: 155px;
    top: -63px !important;
  }
  .features {
    height: 415px;
  }
  .features .overlay .title {
    margin-bottom: 40px;
  }
  .features .overlay .feature .image {
    width: 80px;
    height: 80px;
  }
  .features .overlay .feature .image img {
    width: 35px;
  }
  .features .overlay .feature .sofa img {
    width: 42px;
  }
  .features .overlay .feature .price img {
    width: 38px;
  }
  .features .overlay .feature .delivery img {
    width: 45px;
  }
  .features .overlay .feature + .feature {
    margin-top: 12px;
  }
  .sections .show-case .products .product .card {
    width: 185px;
  }
  .screen-app .slider #wrapper .slider-img {
    width: 136px;
    height: 300px;
  }
  .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 40px;
  }
  .screen-app .slider #wrapper .phone .slider-img {
    height: 330px;
    width: 140px;
  }
  .screen-app .slider #wrapper .phone .cover {
    width: 541px;
    height: 577px;
    top: -52px;
    left: -244px;
  }
  .screen-app .app {
    margin-top: 250px;
  }
  .footer .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 93vh;
  }
  .header .navbar .navbar-brand {
    right: 22%;
  }
  .header .navbar .navbar-nav .dropdown .dropdown-menu {
    transform: translateX(-160%);
    -webkit-transform: translateX(-160%);
    -moz-transform: translateX(-160%);
    -ms-transform: translateX(-160%);
    -o-transform: translateX(-160%);
  }
  .header .overlay {
    padding-right: 10px;
  }
  .header .overlay .caption {
    padding-left: 0;
  }
  .header .overlay .caption .title h3 {
    font-size: 18pt;
  }
  .header .overlay .caption .text {
    margin-bottom: 35px;
  }
  .header .overlay .caption .buttons .btn {
    width: 124px;
  }
  .header .overlay .caption .buttons .android {
    margin-right: 5px;
  }
  .header .overlay .mob img {
    left: 11px !important;
    bottom: -335px !important;
    height: 560px !important;
    width: 125% !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    width: 25%;
  }
  .sections .show-case .products {
    -ms-grid-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template: auto/repeat(2, 1fr);
  }
  .sections .show-case .products .product .card {
    width: 300px;
  }
  .screen-app .slider {
    padding-inline: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 30px;
  }
  .screen-app .app {
    padding: 50px 25px;
  }
}

@media (max-width: 767.98px) {
  .header {
    height: 93vh;
  }
  .header .navbar {
    padding-inline: 15px;
  }
  .header .navbar .navbar-brand {
    right: 22%;
  }
  .header .overlay .caption {
    padding-left: 0;
  }
  .header .overlay .caption .title h3 {
    font-size: 18pt;
  }
  .header .overlay .caption .text {
    margin-bottom: 35px;
  }
  .header .overlay .caption .buttons .btn {
    width: 124px;
  }
  .header .overlay .caption .buttons .android {
    margin-right: 5px;
  }
  .header .overlay .mob img {
    left: -137px !important;
    bottom: -360px !important;
    height: 582px !important;
    width: 160% !important;
  }
  .about-us .show-case .offset-1 {
    margin-right: 0;
  }
  .about-us .show-case .image img {
    left: 70px;
  }
  .features {
    height: 410px;
  }
  .features .overlay .feature .content {
    margin-right: 15px;
  }
  .features .overlay .feature .content .title {
    margin-bottom: 10px;
    font-size: 14pt;
  }
  .features .overlay .col-img img {
    width: 135%;
    left: 80px;
    position: relative;
  }
  .footer .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 70px;
  }
  .footer .items .item + .item {
    margin-right: 30px;
  }
  .footer .custom-items {
    margin-top: 25px;
  }
  .footer .title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0;
  }
}

@media (max-width: 575.98px) {
  .header .navbar {
    padding-inline: 24px;
  }
  .header .navbar .navbar-brand {
    right: 14%;
  }
  .header .navbar .navbar-toggler {
    left: 30%;
  }
  .header .navbar .dropdown .dropdown-menu {
    transform: translateX(-112%) !important;
    -webkit-transform: translateX(-112%) !important;
    -moz-transform: translateX(-112%) !important;
    -ms-transform: translateX(-112%) !important;
    -o-transform: translateX(-112%) !important;
  }
  .header .overlay .row {
    --bs-gutter-x: 0rem;
  }
  .header .overlay .row .col-sm-6 {
    padding: 0;
  }
  .header .overlay .row .col-sm-6 .caption {
    padding-inline: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .overlay .row .col-sm-6 .caption .text {
    text-align: center;
  }
  .header .overlay .row .mob {
    display: none !important;
  }
  .sections .products .product .card {
    width: 220px !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    width: 17%;
  }
  .features {
    height: 388px;
  }
  .features .overlay .feature .content {
    margin-right: 12px;
  }
  .features .overlay .feature .content .text {
    font-size: 10pt;
  }
  .screen-app .slider #wrapper .slider-img {
    height: 200px;
  }
  .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 22px;
  }
  .screen-app .slider #wrapper .phone .slider-img {
    width: 110px;
    height: 230px;
  }
  .screen-app .slider #wrapper .phone .cover {
    width: 428px;
    height: 405px;
    top: -38px;
    left: -190px;
  }
  .screen-app .app {
    padding: 50px 10px;
  }
  .screen-app .app .title {
    font-size: 20px;
  }
  .screen-app .app .buttons .btn {
    width: 140px;
  }
  .screen-app .app .buttons .btn span {
    font-size: 12pt;
  }
  .screen-app .app .buttons .android {
    margin-right: 10px;
  }
  .footer .logo {
    width: 120px;
  }
  .footer .items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .items .item {
    font-size: 15pt;
  }
  .footer .items .item span {
    font-size: 15pt;
  }
  .footer .title {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width: 420px) {
  .header .navbar {
    padding-inline: 5px;
  }
  .header .navbar .navbar-brand {
    width: 100px;
  }
  .header .navbar .navbar-toggler {
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 25px;
    left: 80px;
  }
  .header .navbar .dropdown .dropdown-menu {
    transform: translateX(-66%) !important;
    -webkit-transform: translateX(-66%) !important;
    -moz-transform: translateX(-66%) !important;
    -ms-transform: translateX(-66%) !important;
    -o-transform: translateX(-66%) !important;
  }
  .about-us > .title, .features > .title, .sections > .title, .screen-app > .title {
    font-size: 25px !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    content: initial;
  }
  .about-us {
    padding-top: 200px;
  }
  .about-us .show-case .title {
    margin-bottom: 0;
  }
  .about-us .show-case .text {
    margin-top: 0;
  }
  .about-us .show-case .image img {
    left: 73px;
    width: 75%;
  }
  .features {
    height: 270px;
  }
  .features .overlay {
    padding: 40px 0 0 0;
  }
  .features .overlay .title {
    font-size: 15pt;
  }
  .features .overlay .col-img img {
    top: 10px;
    left: 45px;
  }
  .features .overlay .feature .content {
    margin-bottom: 0;
  }
  .features .overlay .feature .content .title {
    font-size: 10pt;
  }
  .features .overlay .feature .content .text {
    font-size: 8pt;
    margin-bottom: 20px;
  }
  .features .overlay .feature .image {
    width: 60px;
    height: 60px;
  }
  .features .overlay .feature .image img {
    width: 25px;
  }
  .features .overlay .feature + .feature {
    margin-top: 0px;
  }
  .sections .show-case .sub .title {
    font-size: 15pt;
  }
  .sections .show-case .sub .text {
    font-size: 11pt;
  }
  .sections .show-case .products {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto / 1fr;
  }
  .sections .show-case .products .product .card {
    width: 300px !important;
  }
  .sections .show-case .custom-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .screen-app .slider #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-app .slider #wrapper .slider-img {
    width: 150px;
    height: 290px;
  }
  .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 0;
    margin-top: 50px;
  }
  .screen-app .slider #wrapper .phone .slider-img {
    margin-right: 18px;
  }
  .screen-app .slider #wrapper .phone .cover {
    top: -38px;
    left: -168px;
  }
  .screen-app .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
    margin-top: 160px;
  }
  .screen-app .app .title {
    margin-bottom: 20px;
  }
  .screen-app .app .buttons .btn {
    width: 160px;
  }
  .screen-app .app .buttons .btn span {
    font-size: 14pt;
  }
  .footer .items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .items .item {
    font-size: 14pt;
  }
}

@media (min-width: 280px) and (max-width: 350.98px) {
  .header .navbar {
    padding-inline: 5px;
  }
  .header .navbar .navbar-brand {
    width: 100px;
  }
  .header .navbar .navbar-toggler {
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 25px;
    left: 50px;
  }
  .header .navbar .dropdown .dropdown-menu {
    transform: translateX(-54%) !important;
    -webkit-transform: translateX(-54%) !important;
    -moz-transform: translateX(-54%) !important;
    -ms-transform: translateX(-54%) !important;
    -o-transform: translateX(-54%) !important;
  }
  .header .overlay .caption .title h3 {
    font-size: 14pt;
  }
  .header .overlay .caption .buttons .btn {
    width: 110px;
  }
  .header .overlay .caption .buttons .btn span {
    font-size: 9pt;
  }
  .header .overlay .caption .buttons .btn img {
    width: 15px;
  }
  .about-us > .title, .features > .title, .sections > .title, .screen-app > .title {
    font-size: 25px !important;
  }
  .about-us > .title::before, .about-us > .title::after, .features > .title::before, .features > .title::after, .sections > .title::before, .sections > .title::after, .screen-app > .title::before, .screen-app > .title::after {
    content: initial;
  }
  .about-us {
    padding-top: 200px;
  }
  .about-us .show-case .title {
    margin-bottom: 0;
  }
  .about-us .show-case .text {
    margin-top: 0;
  }
  .about-us .show-case .image img {
    left: 120px;
    width: 75%;
  }
  .features {
    height: 245px;
  }
  .features .overlay {
    padding: 40px 0 0 0;
  }
  .features .overlay .title {
    font-size: 15pt;
  }
  .features .overlay .col-img img {
    top: 10px;
    left: 45px;
  }
  .features .overlay .feature .content {
    margin-bottom: 0;
  }
  .features .overlay .feature .content .title {
    font-size: 6pt;
  }
  .features .overlay .feature .content .text {
    font-size: 6pt;
    margin-bottom: 20px;
  }
  .features .overlay .feature .image {
    width: 60px;
    height: 60px;
  }
  .features .overlay .feature .image img {
    width: 25px;
  }
  .features .overlay .feature + .feature {
    margin-top: 0px;
  }
  .sections {
    padding: 500px 0 100px;
  }
  .sections .show-case .sub .title {
    font-size: 15pt;
  }
  .sections .show-case .sub .text {
    font-size: 9pt;
  }
  .sections .show-case .products {
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template: auto / 1fr;
  }
  .sections .show-case .products .product .card {
    width: 250px !important;
  }
  .sections .show-case .custom-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .screen-app .slider #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .screen-app .slider #wrapper .slider-img {
    width: 150px;
    height: 290px;
  }
  .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 0;
    margin-top: 50px;
  }
  .screen-app .slider #wrapper .phone .slider-img {
    margin-right: 18px;
  }
  .screen-app .slider #wrapper .phone .cover {
    top: -38px;
    left: -168px;
  }
  .screen-app .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
    margin-top: 160px;
  }
  .screen-app .app .title {
    margin-bottom: 20px;
  }
  .screen-app .app .buttons .btn {
    width: 120px;
  }
  .screen-app .app .buttons .btn span {
    font-size: 9pt;
  }
  .footer .items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .items .item {
    font-size: 11pt;
  }
  .footer .items .item span {
    font-size: 11pt;
  }
}

@media (max-width: 1399.98px) {
  html[dir="ltr"] .header .navbar {
    padding: 35px 77px 0 107px;
  }
  html[dir="ltr"] .header .navbar .navbar-nav .dropdown .dropdown-menu {
    left: -130px !important;
    right: initial !important;
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 110px;
  }
  html[dir="ltr"] .header .overlay .caption {
    padding-left: 0;
    padding-right: 120px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial;
    right: -60px;
  }
}

@media (max-width: 1280.98px) {
  html[dir="ltr"] .header .navbar {
    padding: 35px 0 0 80px;
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 50px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial;
    right: -50px;
  }
}

@media (max-width: 1199.98px) {
  html[dir="ltr"] .header .navbar {
    padding: 35px 20px 0 42px;
  }
  html[dir="ltr"] .header .navbar .navbar-nav {
    margin-right: 0 !important;
    margin-left: 45px !important;
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 45px;
  }
  html[dir="ltr"] .header .overlay .caption {
    padding-left: 0;
    padding-right: 33px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    right: -200px;
    left: initial;
    bottom: -527px;
    height: 910px;
  }
}

@media (min-width: 992px) and (max-width: 1025px) {
  html[dir="ltr"] .header .navbar {
    padding: 35px 45px 0 25px;
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 25px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial;
    right: 0;
  }
  .screen-app .slider {
    padding-right: 34px;
    padding-left: 20px;
  }
}

@media (max-width: 991.98px) {
  html[dir="ltr"] .header .navbar {
    padding-inline: 30px;
  }
  html[dir="ltr"] .header .navbar .navbar-brand {
    left: 30%;
    right: initial;
  }
  html[dir="ltr"] .header .navbar .navbar-toggler {
    right: 35%;
    left: initial;
  }
  html[dir="ltr"] .header .navbar .navbar-nav {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  html[dir="ltr"] .header .navbar .navbar-nav .dropdown .dropdown-menu {
    transform: translateX(204%);
    -webkit-transform: translateX(204%);
    -moz-transform: translateX(204%);
    -ms-transform: translateX(204%);
    -o-transform: translateX(204%);
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 30px;
  }
  html[dir="ltr"] .header .overlay .caption .buttons .android {
    margin-right: 0;
    margin-left: 10px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial;
    bottom: -430px;
    right: -127px;
    height: 700px;
    width: 140%;
  }
  html[dir="ltr"] .about-us .show-case .text {
    padding-left: 22px;
    padding-right: 0;
  }
  html[dir="ltr"] .about-us .show-case .image img {
    left: initial;
    right: 155px;
  }
  html[dir="ltr"] .screen-app .slider .carousel-inner {
    margin-right: 0;
    margin-left: 6px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-left: 40px;
    margin-right: 0;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .cover {
    left: initial;
    right: -165px;
  }
}

@media (max-width: 768px) {
  html[dir="ltr"] .header .navbar .navbar-brand {
    right: initial;
    left: 22%;
  }
  html[dir="ltr"] .header .navbar .navbar-nav .dropdown .dropdown-menu {
    transform: translateX(160%);
    -webkit-transform: translateX(160%);
    -moz-transform: translateX(160%);
    -ms-transform: translateX(160%);
    -o-transform: translateX(160%);
  }
  html[dir="ltr"] .header .overlay {
    padding-right: 0;
    padding-left: 10px;
  }
  html[dir="ltr"] .header .overlay .caption {
    padding-left: 0;
    padding-right: 0;
  }
  html[dir="ltr"] .header .overlay .caption .buttons .android {
    margin-right: 0;
    margin-left: 5px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial !important;
    right: 11px !important;
    bottom: -335px !important;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (max-width: 767.98px) {
  html[dir="ltr"] .header .navbar .navbar-brand {
    right: initial;
    left: 22%;
  }
  html[dir="ltr"] .header .overlay .caption {
    padding-left: 0;
    padding-right: 0;
  }
  html[dir="ltr"] .header .overlay .caption .buttons .android {
    margin-right: 0;
    margin-left: 5px;
  }
  html[dir="ltr"] .header .overlay .mob img {
    left: initial !important;
    right: -137px !important;
    bottom: -360px !important;
    height: 582px !important;
    width: 160% !important;
  }
  html[dir="ltr"] .features {
    height: 410px;
  }
  html[dir="ltr"] .features .overlay .feature .content {
    margin-right: 0;
    margin-left: 15px;
  }
  html[dir="ltr"] .features .overlay .col-img img {
    left: initial;
    right: 80px;
  }
  html[dir="ltr"] .about-us .show-case .offset-1 {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="ltr"] .about-us .show-case .image img {
    left: initial;
    right: 70px;
  }
  html[dir="ltr"] .footer .items .item + .item {
    margin-right: 0;
    margin-left: 30px;
  }
}

@media (max-width: 575.98px) {
  html[dir="ltr"] .header .navbar .navbar-brand {
    right: initial;
    left: 14%;
  }
  html[dir="ltr"] .header .navbar .navbar-toggler {
    left: initial;
    right: 30%;
  }
  html[dir="ltr"] .header .navbar .dropdown .dropdown-menu {
    transform: translateX(112%) !important;
    -webkit-transform: translateX(112%) !important;
    -moz-transform: translateX(112%) !important;
    -ms-transform: translateX(112%) !important;
    -o-transform: translateX(112%) !important;
  }
  html[dir="ltr"] .header .overlay .row {
    --bs-gutter-x: 0rem;
  }
  html[dir="ltr"] .header .overlay .row .col-sm-6 {
    padding: 0;
  }
  html[dir="ltr"] .features {
    height: 388px;
  }
  html[dir="ltr"] .features .overlay .feature .content {
    margin-right: 25px;
    margin-left: 12px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img {
    height: 200px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-left: 22px;
    margin-right: 0;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .slider-img {
    width: 110px;
    height: 230px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .cover {
    width: 428px;
    height: 405px;
    top: -38px;
    left: initial;
    right: -128px;
  }
  html[dir="ltr"] .screen-app .app {
    padding: 50px 10px;
  }
  html[dir="ltr"] .screen-app .app .title {
    font-size: 20px;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn {
    width: 165px;
  }
  html[dir="ltr"] .screen-app .app .buttons .android {
    margin-right: 10px;
    margin-left: 0;
  }
  html[dir="ltr"] .footer .logo {
    width: 120px;
  }
  html[dir="ltr"] .footer .items .item {
    font-size: 10pt;
  }
  html[dir="ltr"] .footer .items .item span {
    font-size: 10pt;
  }
  html[dir="ltr"] .footer .title {
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 420px) {
  html[dir="ltr"] .header .navbar {
    padding-inline: 5px;
  }
  html[dir="ltr"] .header .navbar .navbar-toggler {
    left: initial;
    right: 80px;
  }
  html[dir="ltr"] .header .navbar .dropdown .dropdown-menu {
    transform: translateX(66%) !important;
    -webkit-transform: translateX(66%) !important;
    -moz-transform: translateX(66%) !important;
    -ms-transform: translateX(66%) !important;
    -o-transform: translateX(66%) !important;
  }
  html[dir="ltr"] .about-us > .title, html[dir="ltr"] .features > .title, html[dir="ltr"] .sections > .title, html[dir="ltr"] .screen-app > .title {
    font-size: 25px !important;
  }
  html[dir="ltr"] .about-us > .title::before, html[dir="ltr"] .about-us > .title::after, html[dir="ltr"] .features > .title::before, html[dir="ltr"] .features > .title::after, html[dir="ltr"] .sections > .title::before, html[dir="ltr"] .sections > .title::after, html[dir="ltr"] .screen-app > .title::before, html[dir="ltr"] .screen-app > .title::after {
    content: initial;
  }
  html[dir="ltr"] .about-us .show-case .image img {
    left: initial;
    right: 73px;
  }
  html[dir="ltr"] .features {
    height: 265px;
  }
  html[dir="ltr"] .features .overlay .col-img img {
    left: initial;
    right: 45px;
  }
  html[dir="ltr"] .features .overlay .feature .content {
    margin-right: 8px;
  }
  html[dir="ltr"] .features .overlay .feature .content .text {
    font-size: 7pt;
  }
  html[dir="ltr"] .features .overlay .feature .content .title {
    font-size: 9pt;
  }
  html[dir="ltr"] .sections .show-case .custom-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img {
    width: 150px;
    height: 290px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 0;
    margin-left: 0;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .slider-img {
    margin-right: 0;
    margin-left: 18px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .cover {
    top: -38px;
    left: initial !important;
    right: -106px !important;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn {
    width: 160px;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn span {
    font-size: 14pt;
  }
  html[dir="ltr"] .screen-app .app .buttons .android {
    margin-right: 0;
    margin-left: 10px;
  }
}

@media (min-width: 280px) and (max-width: 350.98px) {
  html[dir="ltr"] .header .navbar .navbar-toggler {
    left: initial;
    right: 50px;
  }
  html[dir="ltr"] .header .navbar .dropdown .dropdown-menu {
    transform: translateX(54%) !important;
    -webkit-transform: translateX(54%) !important;
    -moz-transform: translateX(54%) !important;
    -ms-transform: translateX(54%) !important;
    -o-transform: translateX(54%) !important;
  }
  html[dir="ltr"] .about-us > .title, html[dir="ltr"] .features > .title, html[dir="ltr"] .sections > .title, html[dir="ltr"] .screen-app > .title {
    font-size: 25px !important;
  }
  html[dir="ltr"] .about-us > .title::before, html[dir="ltr"] .about-us > .title::after, html[dir="ltr"] .features > .title::before, html[dir="ltr"] .features > .title::after, html[dir="ltr"] .sections > .title::before, html[dir="ltr"] .sections > .title::after, html[dir="ltr"] .screen-app > .title::before, html[dir="ltr"] .screen-app > .title::after {
    content: initial;
  }
  html[dir="ltr"] .about-us .show-case .image img {
    left: initial;
    right: 120px;
  }
  html[dir="ltr"] .about-us .show-case .text {
    padding-left: 14px;
  }
  html[dir="ltr"] .features {
    height: 280px;
  }
  html[dir="ltr"] .features .overlay .col-img img {
    left: initial;
    right: 45px;
  }
  html[dir="ltr"] .features .overlay .feature .content {
    margin-right: 12px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img {
    width: 150px;
    height: 290px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .slider-img + .slider-img {
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .slider-img {
    margin-right: 0;
    margin-left: 18px;
  }
  html[dir="ltr"] .screen-app .slider #wrapper .phone .cover {
    top: -38px;
    left: initial;
    right: -106px;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn {
    width: 120px;
    padding-block: 3px;
    padding-inline: 2px;
    line-height: 20px;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn img {
    width: 14px;
  }
  html[dir="ltr"] .screen-app .app .buttons .btn span {
    font-size: 9pt;
  }
}
/*# sourceMappingURL=style.css.map */